[submodule "albert"]
	path = albert
	url = git@github.com:SuperMarx/albert
[submodule "karl"]
	path = karl
	url = git@github.com:SuperMarx/karl
[submodule "supermarx"]
	path = supermarx
	url = git@github.com:SuperMarx/common
