[submodule "albert"]
	path = albert
	url = git@github.com:SuperMarx/albert
[submodule "karl"]
	path = karl
	url = git@github.com:SuperMarx/karl
[submodule "supermarx"]
	path = supermarx
	url = git@github.com:SuperMarx/common
[submodule "vladimir"]
	path = vladimir
	url = git@github.com:SuperMarx/vladimir
[submodule "maximus"]
	path = maximus
	url = ssh://git@github.com/Supermarx/maximus.git
[submodule "skog"]
	path = skog
	url = ssh://git@github.com/Supermarx/skog
